<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rol Fan Page</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Comic+Neue:wght@400;700&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="icon.jpg" type="image/x-icon">
    <link rel="stylesheet" href="./css/estiloIndex.css">
    <link rel="stylesheet" href="./css/estiloRolFanPag.css">
    <style>

    </style>
</head>

<body>
    <div class="container">
        <div class="header">
            <div class="logo-container">
                <div class="logo">
                    <img src="./img/logo-teeker.png" alt="Logo">
                </div>
            </div>
            <h1 class="main-title">Gestionar Rol Fan Page</h1>
        </div>

        <div class="button-container">
            <!-- Botón para abrir el modal de agregar -->
            <button class="btn-custom" data-bs-toggle="modal" data-bs-target="#agregarModal">Agregar</button>
            <!--  <a href="index.html" class="btn-custom btn-primary">Volver a Index</a> -->
            <a th:href="@{/}" class="btn-custom btn-primary">Volver a Index</a>
        </div>

        <div class="content">
            <h2 class="section-title">Listado de Roles para Fan Page</h2>
            <!-- Tabla para listar los datos -->
            <div class="table-responsive">
                <table class="table table-striped table-hover">
                    <thead class="thead-custom">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Persona</th>
                            <th scope="col">Fan Page</th>
                            <th scope="col">Rol</th>
                            <th scope="col">Estado</th>
                            <th scope="col">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Las filas se agregarán dinámicamente aquí -->
                        <tr th:if="${#lists.isEmpty(rolFanPags)}">
                            <td colspan="6" class="text-center">No hay roles disponibles</td>
                        </tr>
                        <tr th:each="rolFanPag, iterStat : ${rolFanPags}">
                            <th scope="row" th:text="${rolFanPag.cod_rol_fan}"></th>
                            <td th:text="${rolFanPag.persona.nm1_per}"></td>
                            <td th:text="${rolFanPag.fan_page.nom_fan_pag}"></td>
                            <td th:text="${rolFanPag.rol.nom_rol}"></td>
                            <td th:text="${rolFanPag.est_rol_fan}"></td>
                            <td>
                                <!-- Botón para abrir el modal de edición -->
                                <button 
                                type="button"
                                class="btn btn-edit btn-sm" 
                                data-bs-toggle="modal"
                                data-bs-target="#editarModal"
                                th:attr="data-id=${rolFanPag.cod_rol_fan},
                                        data-persona=${rolFanPag.persona.cod_per},                       
                                        data-fanpage=${rolFanPag.fan_page.cod_fan_pag},
                                        data-rol=${rolFanPag.rol.cod_rol},
                                        data-estado=${rolFanPag.est_rol_fan}">
                                Editar</button>
                                <!-- Boton para eliminar -->
                                <form th:action="@{/rol_fan_pag/eliminar}" method="post" style="display:inline;">
                                    <input type="hidden" name="cod_rol_fan" th:value="${rolFanPag.cod_rol_fan}" />
                                    <button type="submit" class="btn btn-delete btn-sm">Eliminar</button>
                                </form>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- Modal para Agregar Rol Fan Page -->
    <div class="modal fade" id="agregarModal" tabindex="-1" aria-labelledby="agregarModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" style="background-color: #faeadd;">
                    <h5 class="modal-title" id="agregarModalLabel" style="color: #522a70;">Agregar Nuevo Rol a Fan Page
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form th:action="@{/rol_fan_pag}" th:object="${rolFanPag}" method="post">
                        <div class="mb-3">
                            <label for="cod_rol_fan" class="form-label">Código</label>
                            <input type="number" class="form-control" th:field="*{cod_rol_fan}" required>
                        </div>

                        <div class="mb-3">
                            <label for="fky_per" class="form-label">Persona (Usuario)</label>
                            <select class="form-select" th:field="*{persona}" required>
                                <option selected disabled value="">Seleccione una persona...</option>
                                <option th:each="persona : ${personas}" th:value="${persona.cod_per}"
                                    th:text="${persona.nm1_per}"></option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="fky_fan_pag" class="form-label">Fan Page</label>
                            <select class="form-select" th:field="*{fan_page}" required>
                                <option selected disabled value="">Seleccione una Fan Page...</option>
                                <option th:each="fp : ${fanPages}" th:value="${fp.cod_fan_pag}"
                                    th:text="${fp.nom_fan_pag}"></option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="fky_rol" class="form-label">Rol</label>
                            <select class="form-select" th:field="*{rol}" required>
                                <option selected disabled value="">Seleccione un rol...</option>
                                <option th:each="rol : ${roles}" th:value="${rol.cod_rol}" th:text="${rol.nom_rol}">
                                </option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="est_rol_fan" class="form-label">Estado</label>
                            <select class="form-select" th:field="*{est_rol_fan}" required>
                                <option selected disabled value="">Seleccione un estado...</option>
                                <option value="A">Activo</option>
                                <option value="I">Inactivo</option>
                            </select>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                            <button type="submit" class="btn btn-primary" style="background-color: #522a70;">Guardar
                                Cambios</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal para Editar Rol Fan Page -->
<div class="modal fade" id="editarModal" tabindex="-1" aria-labelledby="editarModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="background-color: #faeadd;">
                <h5 class="modal-title" id="editarModalLabel" style="color: #522a70;">Editar Rol de Fan Page</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
<form th:action="@{/rol_fan_pag/modificar}" method="post">
    <input type="hidden" id="cod_rol_fan_edit" name="cod_rol_fan">

    <div class="mb-3">
        <label for="fky_per_edit" class="form-label">Persona (Usuario)</label>
        <select class="form-select" id="fky_per_edit" name="persona" required>
            <option selected disabled value="">Seleccione una persona...</option>
            <option th:each="persona : ${personas}" th:value="${persona.cod_per}" th:text="${persona.nm1_per}"></option>
        </select>
    </div>
    <div class="mb-3">
        <label for="fky_fan_pag_edit" class="form-label">Fan Page</label>
        <select class="form-select" id="fky_fan_pag_edit" name="fan_page" required>
            <option selected disabled value="">Seleccione una Fan Page...</option>
            <option th:each="fp : ${fanPages}" th:value="${fp.cod_fan_pag}" th:text="${fp.nom_fan_pag}"></option>
        </select>
    </div>
    <div class="mb-3">
        <label for="fky_rol_edit" class="form-label">Rol</label>
        <select class="form-select" id="fky_rol_edit" name="rol" required>
            <option selected disabled value="">Seleccione un rol...</option>
            <option th:each="rol : ${roles}" th:value="${rol.cod_rol}" th:text="${rol.nom_rol}"></option>
        </select>
    </div>
    <div class="mb-3">
        <label for="est_rol_fan_edit" class="form-label">Estado</label>
        <select class="form-select" id="est_rol_fan_edit" name="est_rol_fan" required>
            <option selected disabled value="">Seleccione un estado...</option>
            <option value="A">Activo</option>
            <option value="I">Inactivo</option>
        </select>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <button type="submit" class="btn btn-primary"
            style="background-color: #fbd050; color: #222023; border:none;">Actualizar
            Cambios</button>
    </div>
</form>
            </div>
        </div>
    </div>
</div>

    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="./scripts/modalEditarRolFanPag.js"></script>
</body>

</html>