<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestión de Tipos de Privacidad</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Comic+Neue:wght@400;700&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="icon.jpg" type="image/x-icon">
    <link rel="stylesheet" href="./css/estiloIndex.css">
    <link rel="stylesheet" href="./css/estiloRolFanPag.css">
</head>

<body>
    <div class="container">
        <div class="header">
            <div class="logo-container">
                <div class="logo"><img src="./img/logo-teeker.png" alt="Logo"></div>
            </div>
            <h1 class="main-title">Gestionar Tipos de Privacidad</h1>
        </div>

        <div class="button-container">
            <button class="btn-custom" data-bs-toggle="modal" data-bs-target="#agregarModal">Agregar</button>
            <a th:href="@{/}" class="btn-custom btn-primary">Volver a Index</a>
        </div>

        <div class="content">
            <h2 class="section-title">Listado de Tipos de Privacidad</h2>
            <div class="table-responsive">
                <table class="table table-striped table-hover">
                    <thead class="thead-custom">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Estado</th>
                            <th scope="col">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:if="${#lists.isEmpty(tipoPrivlList)}">
                            <td colspan="4" class="text-center">No hay tipos de privacidad disponibles.</td>
                        </tr>
                        <tr th:each="tipo_privacidad, iterStat : ${tipoPrivlList}">
                            <th scope="row" th:text="${tipo_privacidad.cod_tip}"></th>
                            <td th:text="${tipo_privacidad.nom_tip}"></td>
                            <td th:text="${tipo_privacidad.est_tip}"></td>
                            <td>
                                <!-- Boton para editar y pasar los datos al modal modificar -->
                                <button type="button" class="btn btn-edit btn-sm" data-bs-toggle="modal"
                                    data-bs-target="#editarModal" th:attr="data-id=${tipo_privacidad.cod_tip},
                                         data-nombre=${tipo_privacidad.nom_tip},                       
                                         data-estado=${tipo_privacidad.est_tip}">
                                    Editar
                                </button>
                                <form th:action="@{/tipo_privacidad/eliminar}" method="post" style="display:inline;">
                                    <input type="hidden" name="cod_tip" th:value="${tipo_privacidad.getCod_tip()}" />
                                    <button type="submit" class="btn btn-delete btn-sm">Eliminar</button>
                                </form>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- Modal para Agregar Tipo Privacidad -->
    <div class="modal fade" id="agregarModal" tabindex="-1" aria-labelledby="agregarModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" style="background-color: #faeadd;">
                    <h5 class="modal-title" id="agregarModalLabel" style="color: #522a70;">Agregar Nuevo Tipo de
                        Privacidad</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <form th:action="@{/tipo_privacidad}" th:object="${tipoPrivacidad}" method="post">
                    <div class="modal-body">
                        <div>
                            <label for="cod_tip" class="form-label">Código</label>
                            <input type="text" class="form-control" id="cod_tip" th:field="*{cod_tip}" required>
                        </div>
                        <div class="mb-3">
                            <label for="nom_tip" class="form-label">Nombre</label>
                            <input type="text" class="form-control" id="nom_tip" th:field="*{nom_tip}" required>
                        </div>
                        <div class="mb-3">
                            <label for="est_tip" class="form-label">Estado</label>
                            <select class="form-select" id="est_tip" th:field="*{est_tip}" required>
                                <option selected disabled value="">Seleccione...</option>
                                <option value="A">Activo</option>
                                <option value="I">Inactivo</option>
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                        <button type="submit" class="btn btn-primary"
                            style="background-color: #522a70;">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Modal para Editar Tipo Privacidad -->
    <div class="modal fade" id="editarModal" tabindex="-1" aria-labelledby="editarModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" style="background-color: #faeadd;">
                    <h5 class="modal-title" id="editarModalLabel" style="color: #522a70;">Editar Tipo de Privacidad</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <form th:action="@{/tipo_privacidad/modificar}" method="post">

                    <input type="hidden" id="cod_tip_edit" name="cod_tip">
                    <div class="modal-body">
                        <div class="mb-3">
                            <label for="nom_tip_edit" class="form-label">Nombre</label>
                            <input type="text" class="form-control" id="nom_tip_edit" name="nom_tip" required>
                        </div>
                        <div class="mb-3">
                            <label for="est_tip_edit" class="form-label">Estado</label>
                            <select class="form-select" id="est_tip_edit" name="est_tip" required>
                                <option value="A" selected>Activo</option>
                                <option value="I">Inactivo</option>
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                        <button type="submit" class="btn btn-primary"
                            style="background-color: #fbd050; color: #222023; border:none;">Actualizar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="./scripts/modalEditarTipoPrivacidad.js"></script>
</body>

</html>